QPushButton
{
        background-color: transparent;
	border:0px;
}

QPushButton:hover
{
        background-color:transparent;
	border:0px;
}

QPushButton:pressed
{
        background-color:transparent;
	border:0px;
}

QPushButton:checked
{
        background-color:#2438B1;
	color:#ffffff;
	border:0px;
}


QPushButton:released
{
	background-color:#667bff;
	color:#ffffff;
	border:0px;
}


