QHeaderView
{
	text-align:center;
	color:white;
	border-top-right-radius:5px;
        border-top-left-radius:5px;

}

QHeaderView:section
{
	background:@MainColor;
        border-top: 0px;
        border-bottom: 0px;
        border-right: 2px solid @MainColor;
}

